<div class="def-content">
  <div class="content">
    <div class="col-left">
      <div class="col-block map"></div>
    </div>
    <div class="col-right">
      <div class="col-block info">
        Мой баланс: 70 Р
        <div class="h1">
          Мои карты:
        </div>
        <div class="line-cols">
          <div class="col">Карта №123123123 (373p.)</div>
          <div class="col"><a href="">Пополнить</a></div>
        </div>
        <div class="line-cols">
          <div class="col">Карта №123123123 (373p.)</div>
          <div class="col"><a href="">Пополнить</a></div>
        </div>
      </div>
      <div class="col-block time">расчёт времени</div>
      <div class="col-block news">последняя новость</div>
      <button class="but" data-uk-modal="{target:'#feedback'}">Обратная связь</button>
    </div>
  </div>
</div>