@import "mask.css";

.scheme {
  position: relative;
  padding: 0;
}

.mask {
  position: absolute;
  cursor: pointer;
}

.scheme>img {
  display: block;
  width: 100%;
}

.line-block label{
	display: block;
}

.line-block p{
	display: inline-block;
	padding: 3px 0 6px 0;
	width: 20px;
}

.select-flex{
	display: inline-block;
	margin-left: 10px;
	width: 155px;
}
