<div class="def-content">
  <div class="content">
    <div class="col-left">
      <div class="col-block map scheme">
        <img src="assets/img/scheme.gif">
        <div id="kirpich" class="mask"></div>
        <div id="mudr" class="mask"></div>
        <div id="volsheb" class="mask"></div>
        <div id="stelly" class="mask"></div>
        <div id="ludoed" class="mask"></div>
        <div id="lvinaya" class="mask"></div>
        <div id="gudvina" class="mask"></div>
        <div id="krug" class="mask"></div>
        <div id="izumrud" class="mask"></div>
        <div id="ovrazh" class="mask"></div>
      </div>
    </div>
    <div class="col-right">
      <div class="col-block info">
        Мой баланс: 70 Р
        <div class="h1">
          Мои карты:
        </div>
        <div class="line-cols">
          <div class="col">Карта №123123123 (373p.)</div>
          <div class="col"><a href="">Пополнить</a></div>
        </div>
        <div class="line-cols">
          <div class="col">Карта №123123123 (373p.)</div>
          <div class="col"><a href="">Пополнить</a></div>
        </div>
      </div>
      <div class="col-block time">
        <div class="line-block">
          <label>
            <p>От:</p>
            <select class="select-flex" (change)="selectorOneChanged($event)">
              <option disabled selected value>Выберите станцию</option>
            </select>
          </label>
          <label>
            <p>До:</p>
            <select class="select-flex" (change)="selectorTwoChanged($event)">
              <option disabled selected value>Выберите станцию</option>
            </select>
            <div>{{pathtime}}</div>
            <div>{{path}}</div>
          </label>
        </div>
      </div>
      <div class="col-block news">{{lastPost}}</div>
      <button class="but" data-uk-modal="{target:'#feedback'}">Обратная связь</button>
    </div>
  </div>
</div>
