<app-feedbackmodal></app-feedbackmodal>

<header>
  <div class="def-content">
    <menu>
      <ul>
        <li>
          <a routerLink="home" href="index.html">Главная</a>
        </li>
        <li>
          <a routerLink="news">Новости</a>
        </li>
        <li>
          <a routerLink="finds">Находки</a>
        </li>
      </ul>
    </menu>
    <menu>
      <ul>
        <li id="lk" hidden>
          <a routerLink="profile">Личный кабинет ({{username}})</a>
        </li>
        <li class="no-right-border" id="logout" hidden>
          <a (click)="logout()">Выход</a>
        </li>
        <li id="login">
          <a (click)="login()">Вход</a>
        </li>
        <li id="register">
          <a (click)="register()">Регистрация</a>
        </li>
      </ul>
    </menu>
  </div>
</header>

<router-outlet></router-outlet>

<div id="notification" class="notification" hidden>
  <div class="uk-close notif" (click)="notifClose()"></div>
  {{notification}}
</div>
