<div class="def-content">
  <div class="content">
    <div class="col-main">
      <div class="col-block window-box comments">
        <div class="window">
          <div class="name">Новость 1</div>
          <div class="content">
            Собака обрыгалась.
          </div>
          <a class="uk-icon-close"></a>
        </div>
        <div class="window">
          <div class="name">Новость 2</div>
          <div class="content">
            Vladimir Rutin was killed.
          </div>
          <a class="uk-icon-close"></a>
        </div>
      </div>
    </div>
    <div class="col-main but-col">
      <div class="col-right">
        <button class="but" data-uk-modal="{target:'#feedback'}">Обратная связь</button>
      </div>
    </div>
  </div>
</div>