<div class="def-content">
  <div class="content">
    <div class="col-main">
      <div class="col-block form">
        <div class="h1">Настройки</div>
        <form>
          <label class="def-w-2 left">Email <input id="email" type="email" name="" placeholder="Email"></label>
          <label class="def-w-2">Новый пароль <input id="newPasswd" type="password" name="" placeholder="Пароль"></label>
          <label class="def-w-2 left">ФИО <input id="FIO" type="text" name="" placeholder="ФИО"></label>
          <label class="def-w-2">Повтор пароля <input id="repeatPasswd" type="password" name="" placeholder="Пароль"></label>
          <div class="def-w-2 left but-left"><button class="but white">Применить</button></div>
        </form>
      </div>
    </div>
    <div class="col-left">
      <div class="col-block info">
        Мой баланс: 70 Р
        <div class="h1">
          Мои карты:
        </div>
        <div class="line-cols">
          <div class="col">Карта №123123123 (373p.)</div>
          <div class="col"><a href="">Пополнить</a>&#8194;&#8194;<a href="">Удалить</a></div>
        </div>
        <div class="line-cols">
          <div class="col">Карта №123123123 (373p.)</div>
          <div class="col"><a href="">Пополнить</a>&#8194;&#8194;<a href="">Удалить</a></div>
        </div>
      </div>
      <form class="col-form">
        <input class="left-radius" type="text" name="" placeholder="Номер карты"><button class="but white right-radius">Добавить</button>
      </form>
    </div>
    <div class="col-right">
      <div class="col-block news"></div>
      <button class="but" data-uk-modal="{target:'#modal'}">Обратная связь</button>
    </div>
  </div>
</div>
