<div class="def-content">
  <div class="content">
    <div class="col-left">
      <div class="col-block window-box">
        <div class="window">
          <div class="name">Находка №1</div>
          <div class="content">
            Я нашёл себя на метро "Пролетарская"
          </div>
          <a class="uk-icon-close"></a>
        </div>
        <div class="window">
          <div class="name">Накодка №2</div>
          <div class="content">
            Я нашёл хача под поездом в метро "Озерки"
          </div>
          <a class="uk-icon-close"></a>
        </div>
      </div>
    </div>
    <div class="col-right">
      <form class="col-block-form">
        <textarea placeholder="Поле ввода"></textarea>
        <button type="submit" class="but">Заявить о находке</button>
      </form>
      <div class="col-block news"></div>
      <button class="but" data-uk-modal="{target:'#feedback'}">Обратная связь</button>
    </div>
  </div>
</div>