<div class="def-content">
  <div class="content">
    <div class="col-left">
      <div id="finds" class="col-block window-box"></div>
    </div>
    <div class="col-right">
      <div id="takingLostFound" class="col-block-form" hidden>
        <textarea id="newLostFound" placeholder="Суть находки..."></textarea>
        <button type="button" class="but" (click)="addLostFound()">Заявить о находке</button>
      </div>
      <div class="col-block news">{{lastNewsPost}}</div>
      <button class="but" data-uk-modal="{target:'#feedback'}">Обратная связь</button>
    </div>
  </div>
</div>
