<div class="def-content">
  <div class="content">
    <div class="col-left">
      <div id="finds" class="col-block window-box"></div>
    </div>
    <div class="col-right">
      <form class="col-block-form">
        <textarea placeholder="Поле ввода"></textarea>
        <button type="submit" class="but">Заявить о находке</button>
      </form>
      <div id="lastnewspost" class="col-block news"></div>
      <button class="but" data-uk-modal="{target:'#feedback'}">Обратная связь</button>
    </div>
  </div>
</div>
